@{
    ViewData["Title"] = "Admin";
}

<div class="jumbotron bg-primary mt-4">
    <h1 class="text-light">About Nerdosity</h1>
    <p class="text-light">Nerdosity is your home for all things nerd and geek! From D&D to LOL and anything in between you can find it here</p>
</div>
<div class="jumbotron bg-info mt-4">
    <h1 class="text-light">Our Promise</h1>
    <p class="text-light">
        Here at Nerodist our customers come first. We promise to deliever the best a nerd can ask for and more. With great products at an unbeatable price
        , you will find just about anything you need to continue to be the best nerd you can be.
    </p>
</div>